body{
  margin: 0;
}
.mainContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: bisque;
}

.card{
  box-shadow: 2px 1px 5px 0px #898989;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.card img{
  height: 450px;
}